<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <table class="table table-striped table-bordered">
                <h4>共 <%= grade.length %> 门课程</h4>
                <tr>
                    <th>课程名</th>
                    <th>课程号</th>
                    <th>课序号</th>
                    <th>学分</th>
                    <th>课程属性</th>
                    <th>成绩</th>
                </tr>
                <% grade.forEach(function (item) { %>

                <tr>
                    <td class="cm-td-medium"><%= item.courseName %></td>
                    <td class="cm-td-medium"><%= item.courseNumber %></td>
                    <td class="cm-td-small"><%= item.lessonNumber %></td>
                    <td class="cm-td-small"><%= item.credit %></td>
                    <% if (item.courseProperty === '必修') { %>
                    <td class="cm-td-small"><%= item.courseProperty %></td>
                    <% } else { %>
                    <td class="cm-td-small text-muted"><%= item.courseProperty %></td>
                    <% } %>
                    <td class="cm-td-small"><%= item.grade %></td>
                </tr>

                <% }); %>
            </table>
        </div>
    </div>
</div>

<% include _scripts.ejs %>
<% include _footer.ejs %>
