<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2">

            <% grades.forEach((item) => { %>
            <div class="cm-term">
                <table class="table table-striped table-bordered">
                    <h4 class="cm-table-title"><%= item.term %></h4>
                    <thead>
                    <div class="cm-table-info">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>平均绩点 <b><%= item.averageGpa %></b></p>
                            </div>
                            <div class="col-xs-6">
                                <p>平均分 <b><%= item.averageGrade %></b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>必修绩点 <b><%= item.averageGpaObligatory %></b></p>
                            </div>
                            <div class="col-xs-6">
                                <p>必修平均分 <b><%= item.averageGradeObligatory %></b></p>
                            </div>
                        </div>
                    </div>
                    <tr>
                        <th>课程名</th>
                        <th>课程号</th>
                        <th>课序号</th>
                        <th>学分</th>
                        <th>课程属性</th>
                        <th>成绩</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% item.list.forEach(function (itemList) { %>
                    <tr>
                        <td class="cm-td-20"><%= itemList.courseName %></td>
                        <td class="cm-td-18"><%= itemList.courseNumber %></td>
                        <td class="cm-td-15"><%= itemList.lessonNumber %></td>
                        <td class="cm-td-14"><%= itemList.credit %></td>
                        <% if (item.courseProperty === '必修') { %>
                        <td class="cm-td-17"><%= itemList.courseProperty %></td>
                        <% } else { %>
                        <td class="cm-td-17 text-muted"><%= itemList.courseProperty %></td>
                        <% } %>
                        <td class="cm-td-16"><%= itemList.grade %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
            <% }); %>

        </div>
    </div>

    <% include _scripts.ejs %>
    <% include _footer.ejs %>
